#AuthName "Restricted API"
#AuthType Basic
#AuthUserFile "c:\xampp\htdocs\Test\day3\api\.htpasswd"
#require valid-user

<IfModule mod_rewrite.c>
DirectoryIndex index.php
RewriteEngine On
RewriteRule ^url/(.*)/(.*)/$ index.php?class=$1&method=$2&%{QUERY_STRING} [NC,L]
</IfModule>
